.carousel-outer-container {
    position: relative;
}

.carousel-btn {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    opacity: 0.8;
}

.carousel-right-btn {
    right: 0%;
}

.hr-scroll-area {
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

.hr-scroll-area div {
    width: 24.5%;
    background-color: #eee;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;
}

.hr-scroll-area::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
