.hr-scroll-area {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.hr-scroll-area::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.carousel-outer-container {
    position: relative;
}

.carousel-btn {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    opacity: 80%;
}

.carousel-right-btn {
    right: 0%;
}

.coll {
    background-color: brown;
}
