.max-radius {
    border-radius: 1000px;
}

[type="radio"] {
    display: none;
}

main {
    min-height: 80vh;
}

.dropdown-toggle::after {
    display: none;
}

.no-wrap {
    white-space: nowrap;
}

.fw-600 {
    font-weight: 600;
}
